# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform directory
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration
.terraform.lock.hcl

# Ignore sensitive variable files
terraform.tfvars
